body {
            font-family: Arial, sans-serif;
            background-color: #444c38; /* dark background */
            color: #ccc; /* light text */
            margin: 10px;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
            background: #000000;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        a {
            display: block;
            margin: 10px 0;
            text-decoration: none;
            font-size: 24px; /* large font size */
        }
        a.google { color: #4285F4; } /* Google blue */
        a.youtube { color: #FF0000; } /* YouTube red */
        a.instagram { color: #C13584; } /* Instagram gradient color */
        a.jdvvnl { color: #FF5733; } /* Custom color */
        a.railways { color: #FFD700; } /* Custom color */
        a:hover {
            text-decoration: underline;
        }
        h1 {
            color: #fff;
            font-size: 42px; /* larger font size */
        }
        p {
            font-size: 25px; /* larger font size */
            color: #ccc;
        }
.choudhary {
 background-color: rgb(186, 240, 209);
    color: rgb(18, 53, 83);
    font-size: 40px;
    border: none;
    height: 70px;
    width: 205px;
    border-radius: 35px;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
    margin: 40px;
    margin-top: 0px;
}


.choudhary:hover{
    opacity: 0.7;
    text-anchor: end;
 }
.choudhary:active{
    opacity: 0.4;
 }
