body {
            font-family: Arial, sans-serif;
          margin: 0px;
        
        
            justify-content: center;
            align-items: center;
          
            text-align: center;
            padding: 0px;
        }
        .container {
          position: fixed;
          background: black;
          top: 0px;
          left: 0px;
          right: 0px;
          height: 150px;
          border-bottom: 5px;
          border-color: green;
          border-style: solid;
      
          
        }
        .id{
          padding: 0px;
          margin: 0px;
        }
        .site {
          padding-top: 170px;
          background: rgb(54, 69, 79);
        }

       
        h1 {
            color: #fff;
            font-size: 30px; /* larger font size */
            padding: 0px;
            margin-top: 0px;
        }
        p {
            font-size: 25px; /* larger font size */
            color: #ccc;
          
        }
.left-button {
 background-color: rgb(186, 240, 209);
    color: rgb(18, 53, 83);
    font-size: 40px;
    border: none;
    height: 70px;
    width: 205px;
    border-radius: 35px;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
    margin: 40px;
    margin-top: 0px;
}


.left-button:hover{
    opacity: 0.7;
    text-anchor: end;
 }
.left-button:active{
    opacity: 0.4;
 }
